body {
  font-family: 'Roboto', sans-serif; 
  margin: auto;
  max-width: 1280px;
}
/*BODY: Changed font-family*/
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

/*Image Resize*/
img
{
  height: 250px;
  width: 250px;
}

#landing
{
  height: 80vh;
  /*Will center elements vertically*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery
{
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 16px;
}

ul
{
  list-style: none;
  padding: 0;
}

html
{
  scroll-behavior: smooth;
}

/*Override Bootstrap CSS Rulings*/
.jumbotron
{
  background-color: transparent;
}

h2
{
  color: #007bff; /*Hexadecimal Color for specific shade of blue*/
}

.tools
{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
}